#============= Hopebay Cloud Filesystem ==============
type hcfsd, domain, mlstrustedsubject;
type hcfsd_exec, exec_type, file_type;
type hcfs_socket, file_type;
type hcfs_data_file, file_type, data_file_type;
type hcfs, sdcard_type, fs_type, mlstrustedobject;

# Domain traistion from qti_init_shell to hcfsd
domain_auto_trans(qti_init_shell, hcfsd_exec, hcfsd)
#domain_auto_trans(init, hcfsd_exec, hcfsd)
tmpfs_domain(hcfsd)

# Capabilities
allow hcfsd self:capability { sys_admin sys_resource dac_override net_raw };

# All files/dirs created in system_data_file:dir will be labeled hcfs_data_file
file_type_auto_trans(hcfsd, system_data_file, hcfs_data_file)

# Allow permission to mount
allow hcfsd hcfs:filesystem { mount unmount };
allow hcfsd system_data_file:dir { open mounton remove_name };
allow hcfsd system_data_file:file { r_file_perms };
allow hcfsd apk_data_file:dir { read open mounton };

# Allow permission to create hcfs_socket file in /dev/shm folder
allow hcfsd device:dir rw_dir_perms;
allow hcfsd device:file rw_file_perms;
file_type_auto_trans(hcfsd, device, hcfs_socket)

# Allow connection from hcfsapid domain via socket to hcfsd domain
allow hcfsd hcfs_socket:sock_file create_file_perms;
allow hcfsd hcfs_socket:unix_stream_socket connectto;
allow hcfsd init:unix_stream_socket connectto;

# Allow hcfsd to access /data/hcfs/{metastorage, blockstorage} folders and other data files
allow hcfsd hcfs_data_file:dir create_dir_perms;
allow hcfsd hcfs_data_file:file create_file_perms;

# Allow permission on tmpfs
allow hcfsd tmpfs:dir create_dir_perms;
allow hcfsd tmpfs:file create_file_perms;
allow hcfsd hcfsd_tmpfs:file { create open getattr unlink };

# Allow hcfsd to communicate with hcfsmgmt app
allow hcfsd terafonn_app:file { read open };
allow hcfsd terafonn_app:dir search;
allow hcfsd terafonn_data_file:dir search;
allow hcfsd terafonn_data_file:file { write getattr setattr read lock open };
allow hcfsd terafonn_app:unix_stream_socket connectto;

# Allow permission to communicate with fuse_device
allow hcfsd fuse_device:chr_file { read write open };

# Allow permission to communicate with qti_init_shell via file descriptors
allow hcfsd qti_init_shell:fd use;
#allow hcfsd init:fd use;

# Allow permission to access shell_data_file files/dirs
allow hcfsd shell_data_file:dir { write remove_name search add_name };
allow hcfsd shell_data_file:file { write getattr read create unlink open };

# Socket related
allow hcfsd cnd:unix_stream_socket connectto;
allow hcfsd cnd_socket:sock_file write;
##allow hcfsd dpmd:unix_stream_socket connectto;
##allow hcfsd dpmwrapper_socket:sock_file write;
allow hcfsd fwmarkd_socket:sock_file write;
allow hcfsd netd:unix_stream_socket connectto;
allow hcfsd port:tcp_socket name_connect;
allow hcfsd self:tcp_socket { write read getopt create getattr connect };
allow hcfsd self:udp_socket create;
allow hcfsd system_app:unix_stream_socket connectto;

# Allow hcfs to have permission to access directories and files on /proc/<pid> folder
#define(`hcfs_proc_dataset', `{ init installd qti_init_shell shell vold bluetooth radio wcnss_service system_app platform_app untrusted_app isolated_app rild system_server adbd mediaserver hcfsapid terafonn_app qtitetherservice_app location_app shared_relro debuggerd }')
define(`hcfs_proc_dataset', `{ init installd qti_init_shell shell vold bluetooth radio wcnss_service system_app platform_app untrusted_app isolated_app rild system_server adbd mediaserver hcfsapid terafonn_app shared_relro debuggerd }')
allow hcfsd { hcfs_proc_dataset }:dir search;
allow hcfsd { hcfs_proc_dataset }:file { read getattr open };
# Cases for userdebug or eng build
userdebug_or_eng(`
  allow hcfsd { su perfprofd }:dir search;
  allow hcfsd { su perfprofd }:file { read getattr open };
')

# Allow hcfs to have getattr permission on /mnt/runtime folder
allow hcfsd storage_file:dir getattr;
# Allow hcfs to have read, getattr, open, mounton permissions on /mnt/runtime/read/emulate folder
allow hcfsd storage_stub_file:dir { read getattr open mounton };

# comm="hcfs" name="runtime" dev="tmpfs" scontext=u:r:hcfsd:s0 tcontext=u:object_r:storage_file:s0 tclass=dir permissive=0
allow hcfsd storage_file:dir search;

# Allow hcfsd to communicate with "u:r:shared_relro:s0" type objects
allow hcfsd shared_relro:dir { search };
allow hcfsd shared_relro:file { read open };

# Allow hcfsd to communicate with zygote
allow hcfsd zygote:dir search;
allow hcfsd zygote:file { open read };

# dex2oat
allow hcfsd dex2oat:dir { search read };
allow hcfsd dex2oat:file { read open };

#============= qti_init_shell ==============
# Allow qti_init_shell to have permissions on /dev/shm/hcfs_reporter 
allow qti_init_shell hcfs_socket:sock_file { write getattr };
allow qti_init_shell hcfsd:unix_stream_socket connectto;
#allow init hcfs_socket:sock_file { write getattr };
#allow init hcfsd:unix_stream_socket connectto;

# Allow qti_init_shell to have permissions on /system/bin/HCFSvol 
allow qti_init_shell hcfsd_exec:file { read execute open execute_no_trans };
#allow init hcfsd_exec:file { read execute open };

# Allow init.hcfs.sh to have permission to create /tmp/hcfs_ready file
allow qti_init_shell tmpfs:dir { write add_name };
allow qti_init_shell tmpfs:file { write create open };
#allow init tmpfs:dir { write add_name };
#allow init tmpfs:file { write create open };

# Allow qti_init_shell to have permission on /system/bin/HCFSvol executable file
allow qti_init_shell hcfsd_exec:file { getattr };
#allow init hcfsd_exec:file { getattr };

# comm="chmod" name="/" dev="fuse", comm="chown" name="/" dev="fuse"
allow qti_init_shell unlabeled:dir { setattr getattr };
allow qti_init_shell system_data_file:file open;
#allow init unlabeled:dir { setattr getattr };
#allow init system_data_file:file open;

# Allow to chown /
allow qti_init_shell apk_data_file:dir setattr;
#allow init apk_data_file:dir setattr;
# Allow to have permissions on /data/hcfs, /data/hcfs.conf 
allow qti_init_shell hcfs_data_file:dir { getattr search };
allow qti_init_shell hcfs_data_file:file getattr;
#allow init hcfs_data_file:dir { getattr search };
#allow init hcfs_data_file:file getattr;

# Vince
#allow init shell_exec:file { execute_no_trans };
#allow init system_file:file {execute_no_trans read write };
#allow init system_file:dir { execute_no_trans read write };
#allow toolbox tmpfs:dir { write add_name };
#allow toolbox tmpfs:file { write create open };

#============= sdcardd ==============
# Allow sdcardd to have permissions on /dev/shm/hcfs_reporter
allow sdcardd hcfs_socket:sock_file write;
allow sdcardd hcfsd:unix_stream_socket connectto;
# Allow sdcard to have permissions to restorecon /mnt/runtime/default/emulated, /mnt/runtime/read/emulated, /mnt/runtime/write/emulated folder 
allow sdcardd fuse:dir relabelto;
allow sdcardd shell_exec:file { read execute open execute_no_trans };
allow sdcardd storage_file:dir getattr;
allow sdcardd unlabeled:dir { relabelfrom getattr };

#============= zygote ==============
allow zygote hcfs:filesystem { remount unmount };

#============= gatekeeperd ==============
# Allow gatekeeperd to read directories, files and symbolic links of the firmware_file type on /firmware folder
r_dir_file(gatekeeperd, firmware_file)

#============= init ==============
allow init boot_block_device:blk_file setattr;
allow init hcfsd_exec:file { getattr execute read open execute_no_trans };
allow init hcfs_socket:sock_file write;
allow init hcfsd:unix_stream_socket connectto;

#============= fuse ==============
# comm="restorecon" name="/" dev="fuse" scontext=u:object_r:fuse:s0 tcontext=u:object_r:labeledfs:s0 tclass=filesystem 
allow fuse hcfs:filesystem associate;

#============= system_app ==============
##allow system_app ipa_dev:chr_file { read write open ioctl };
allow system_app self:socket { write getopt create ioctl read };
# Allow system_app to connecto and send via a local socket to the qmux domain. Also allow the system_app to remove its own socket.
qmux_socket(system_app)

#============= perfd ==============
allow perfd self:capability kill;
allow perfd system_server:process signull;

#============= installd ==============
allow installd terafonn_data_file:dir { write search setattr relabelto getattr add_name };
allow installd terafonn_data_file:lnk_file create;

#============= system_server ==============
allow system_server terafonn_data_file:dir getattr;

#============= netd ==============
allow netd terafonn_app:fd use;
allow netd terafonn_app:tcp_socket { read write setopt getopt };
allow netd hcfsd:fd use;
allow netd hcfsd:tcp_socket { read write setopt getopt };
allow hcfsd hcfsd:udp_socket bind;
allow hcfsd dnsproxyd_socket:sock_file write;

#============= dpmd ==============
##allow dpmd hcfsd:fd use;
##allow dpmd hcfsd:tcp_socket { read write };

#============= adbd ==============
# Allow to permission on hcfs log file (adb pull, read)
allow adbd hcfs_data_file:file { getattr read open };
allow shell hcfs_data_file:file { open read };

#============= vold ==============
allow vold hcfs:filesystem { mount unmount remount };

#============= file_type ============
allow file_type hcfs:filesystem associate;

#============= nfs ============
allow hcfsd nfc:dir { search };
allow hcfsd nfc:file { read write open getattr };


#=========== /data/media ===========
#===========  HBTUpdater ===========
allow uncrypt media_rw_data_file:dir { search getattr };
allow uncrypt media_rw_data_file:file { read open getattr };
# sdcard.c to mkdir/rm/mount /data/media/0/hbtupdater /storage/emulated/0/hbtupdater/
allow hcfsd sdcardd:dir { search };
allow hcfsd sdcardd:file { open read getattr };
allow sdcardd fuse:dir { mounton };
allow sdcardd system_file:file { execute_no_trans };
allow sdcardd sdcardd:capability { chown };
# for init to mkdir /data/media/0/hbtupdater and /storage/emulated/0/hbtupdater
allow init fuse:dir { create write add_name search setattr };
# for "mount -o bind /data/media/0/hbtupdater /storage/emulated/0/hbtupdater" in init.bullhead.rc
# `/system/bin/mount` is a symbolic link to `/system/bin/toolbox`
allow toolbox toolbox:capability { sys_admin dac_override dac_read_search };
allow toolbox storage_file:dir { search };
allow toolbox fuse:dir { search mounton };
allow toolbox media_rw_data_file:dir { open read search ioctl };
allow hcfsd zygote:file { getattr };
# for /system/bin/rm /data/media/0/hbtupater
allow toolbox media_rw_data_file:dir { write remove_name getattr rmdir};
allow toolbox media_rw_data_file:file { write unlink getattr };
#============= property ============
allow hcfsd property_socket:sock_file write;
allow hcfsd powerctl_prop:property_service set;

#============= toolbox ============
allow hcfsd toolbox:dir search;

#============= restore ============
allow hcfsd hcfs_data_file:file link;
allow hcfsd system_data_file:file { unlink relabelto };
allow hcfsd hcfsd:capability { chown fowner fsetid };
allow hcfsd shell_exec:file { execute_no_trans execute read open };
allow hcfsd hcfs_data_file:file { relabelfrom relabelto };
allow installd terafonn_data_file:dir { open read remove_name };
allow installd terafonn_data_file:file { unlink getattr };
allow installd terafonn_data_file:sock_file getattr;
allow hcfsd toolbox:file { read open getattr };
allow hcfsd system_file:file execute_no_trans;
# for name="com.google.android.gms" dev="fuse"
allow hcfsd app_data_file:dir { search };
allow hcfsd app_data_file:file { getattr };

#============= booster ============
# denied { mount } for name="/" dev="loop7" ino=2 scontext=u:r:hcfsd:s0 tcontext=u:object_r:labeledfs:s0 tclass=filesystem
# The "mount" is opened the neverallow rule for hcfsd in external/sepolicy/domain.te's line 284
allow hcfsd labeledfs:filesystem { mount unmount };
allow hcfsd tmpfs:dir { mounton };
allow hcfsd kernel:process { setsched };
# for hcfs install white list package to booster directly
allow installd hcfs_data_file:dir { setattr relabelfrom getattr mounton };

# booster restoration
allow hcfsd system_data_file:dir { setattr relabelto write };
allow hcfsd system_data_file:file { write };
allow hcfsd loop_device:blk_file { open ioctl read write };
allow hcfsd fsck_exec:file { read open execute getattr execute_no_trans };
allow hcfsd unlabeled:dir { getattr relabelfrom };
allow hcfsd hcfs_data_file:dir { mounton };
allow hcfsd block_device:dir { search };

#======== allow settings apk to delete /cache/backup for factory reset ======
allow system_app cache_file:dir { write remove_name rmdir };
allow system_app cache_backup_file:dir { open write remove_name rmdir read search };
allow system_app cache_backup_file:file { getattr write unlink };
