#============= HCFS API DAEMON ==============
type hcfsapid, domain, mlstrustedsubject;
type hcfsapid_exec, exec_type, file_type;

# Domain traistion from init to hcfsapid
init_daemon_domain(hcfsapid)

# Allow permission to create hcfsapid_socket file in com.hopebaytech.hcfsmgmt folder
allow hcfsapid terafonn_data_file:dir rw_dir_perms;
allow hcfsapid terafonn_data_file:sock_file create_file_perms;
allow hcfsapid terafonn_data_file:file rw_file_perms;

# Allow connection from hcfsapid domain via socket to hcfsd domain
allow hcfsapid hcfs_socket:sock_file rw_file_perms;
allow hcfsapid hcfsd:unix_stream_socket connectto;
allow hcfsapid device:dir rw_dir_perms;
#allow hcfsapid hcfs_socket:sock_file create_file_perms;

# Allow permission to read/write hcfs.conf
file_type_auto_trans(hcfsapid, system_data_file, hcfs_data_file)
allow hcfsapid hcfs_data_file:dir create_file_perms;
allow hcfsapid hcfs_data_file:file create_file_perms;
allow hcfsapid system_data_file:dir remove_name;

allow hcfsapid app_data_file:dir open;

# Allow permissions on internal mountpoint
#define(`hcfs_internal_dataset', `{ app_data_file system_app_data_file system_data_file radio_data_file bluetooth_data_file shell_data_file location_app_data_file qsee_svc_app_data_file qtitetherservice_app_data_file apk_data_file apk_tmp_file }')
define(`hcfs_internal_dataset', `{ app_data_file system_app_data_file system_data_file radio_data_file bluetooth_data_file shell_data_file location_app_data_file apk_data_file apk_tmp_file }')
allow hcfsapid hcfs_internal_dataset:dir { search getattr read open };
allow hcfsapid hcfs_internal_dataset:file { getattr };

# Allow permisssions on externel mountpoint
allow hcfsapid fuse:dir { read write create add_name open search getattr };
allow hcfsapid fuse:file { create getattr };

# Allow to access /mnt/runtime
allow hcfsapid storage_file:dir { search getattr };

allow hcfsapid shell_data_file:dir { write remove_name search add_name };
allow hcfsapid shell_data_file:file { write getattr read create unlink open };

allow hcfsapid self:capability dac_override;

allow hcfsapid dalvikcache_data_file:dir { open read };

allow hcfsapid nfc_data_file:dir { read write open getattr };

# Allow permisssions to logcat dmesg
allow hcfsapid storage_file:lnk_file read;
allow hcfsapid mnt_user_file:dir search;
allow hcfsapid mnt_user_file:lnk_file read;
allow hcfsapid fuse:file { open write };
allow hcfsapid logcat_exec:file { getattr execute read open execute_no_trans };
allow hcfsapid logdr_socket:sock_file write;
allow hcfsapid logd:unix_stream_socket connectto;
allow hcfsapid shell_exec:file { execute read open execute_no_trans };
allow hcfsapid kernel:system syslog_read;

# booster
allow hcfsapid hcfs_data_file:dir relabelfrom;
allow hcfsapid hcfs_data_file:file {relabelfrom};
allow hcfsapid hcfs_data_file:lnk_file {relabelfrom};

allow hcfsapid app_data_file:dir { setattr relabelto rmdir remove_name rename relabelfrom write };
allow hcfsapid app_data_file:file { read open rename write unlink relabelto };
allow hcfsapid app_data_file:lnk_file { getattr read unlink relabelto };

allow hcfsapid system_data_file:lnk_file { setattr unlink relabelfrom };
allow hcfsapid system_data_file:dir { mounton relabelto rmdir setattr rename relabelfrom };
allow hcfsapid system_data_file:file { setattr open write relabelto unlink relabelfrom };
allow hcfsapid system_data_file:dir rmdir;

allow hcfsapid hcfsapid:capability { chown fowner fsetid sys_admin };
allow hcfsapid selinuxfs:file { write };
allow hcfsapid kernel:process setsched;
allow hcfsapid kernel:security { check_context };

allow hcfsapid unlabeled:dir { getattr relabelfrom };
allow hcfsapid unlabeled:file { getattr open read write relabelfrom };
allow hcfsapid loop_device:blk_file { getattr ioctl open read write };
allow hcfsapid block_device:dir search;
allow hcfsapid system_file:file execute_no_trans;
allow hcfsapid labeledfs:filesystem { mount unmount };

allow hcfsapid terafonn_data_file:file { setattr unlink create };

allow hcfsapid apk_data_file:dir { write add_name remove_name setattr };
allow hcfsapid apk_data_file:file { setattr write create rename };
