#============= TeraFonn management app ==============
type terafonn_app, domain, mlstrustedsubject;
type terafonn_data_file, file_type, data_file_type;

# Permissions to work likes system app
app_domain(terafonn_app)
net_domain(terafonn_app)
binder_service(terafonn_app)

# Allow connection and send from terafonn_app domain via socket to other domain
allow terafonn_app hcfsapid:unix_stream_socket connectto;
allow terafonn_app terafonn_data_file:dir create_dir_perms;
allow terafonn_app terafonn_data_file:file create_file_perms;
allow terafonn_app terafonn_data_file:sock_file write;

# Allow permissions to fetch app info
allow terafonn_app apk_tmp_file:dir { search getattr };
allow terafonn_app apk_tmp_file:file { read getattr open };

allow terafonn_app unlabeled:file { read write open setattr };

allow terafonn_app servicemanager:service_manager list;
allow terafonn_app service_manager_type:service_manager find;

# Allow permissions to communicate with "SharedPreferenc"
allow untrusted_app terafonn_data_file:dir { search getattr write };
allow untrusted_app terafonn_data_file:file { read write };
allow untrusted_app terafonn_data_file:sock_file { write };

# booster
allow untrusted_app hcfs_data_file:dir { read };
